.total-days {
  display: block;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto; 
}
.select-group {
  display: flex;
  flex-direction: column;
}

.select-group label {
  font-size: 14px;
  font-weight: bold;
  color: #4a5568; 
  margin-bottom: 4px;
}

.select-group select {
  width: 100%; 
  max-width: 140px; 
  padding: 4px 8px;
  font-size: 14px;
  border: 1px solid #d1d5db; 
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: white;
  cursor: pointer;
  text-align: center;
}

.select-group select:disabled {
  background-color: #e5e7eb;
  color: gray;
  opacity: 0.8;
  margin:2px;
}
.ant-picker-cell-inner {
  min-height: 47px; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.ant-picker-cell-inner ant-picker-calendar-date{
  font-size: 5px;
}

.ant-picker-body{}



@media screen and (max-width: 768px) {
  .select-container {
    flex-direction: rows;
    align-items: center;
    width: 100%;
  }

  .select-group {
    margin-left: 0; 
    margin-bottom: 12px; 
    align-items: center;

  }

  .select-group label {
    font-size: 12px; 
  }

  .select-group select {
    max-width: 120px; 
    font-size: 12px;
    padding: 4px 10px;
  }

  .work-calendar {
    max-width: 100%;
    padding: 12px;
  }

  .work-calendar-header {
    padding: 16px;
    border-radius: 8px 8px 0 0;
  }

  .total-days {
    font-size: 14px; 
  }
}


@media screen and (max-width: 480px) {

  .select-group select {
    max-width: 110px;
    font-size: 12px;
  }

  .work-calendar {
    padding: 8px;
  }

  .work-calendar-header {
    padding: 12px;
    font-size: 14px;
  }

  .total-days {
    font-size: 12px;
  }
}
