
.overtime-full-width {
    width: 100%;
}

.ant-picker-input > input::placeholder {
    text-transform: uppercase;
}

.overtime-submit-btn {
    background-color: #2563eb;
    border: none;
    font-size: 14px;
    height: 40px;
    margin-top: 10px;
}

.overtime-submit-btn:hover {
    background-color: #1e40af;
}

.ant-form-item-label > label {
    font-weight: bold;
    color: #333;
}

.ant-select-arrow {
    display: none !important;
}

.form-title {
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #2563eb;
    padding: 12px;
    text-align: center;
    border-radius: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}